<div class="row">
    <div class="col-md-12">
         <table class="table table-bordered table-hover">
             <thead>
                 <tr>
                    <th>SL-No.</th>
                    <th *ngFor="let head of HeadArray">{{head}} </th>  
                 </tr>
             </thead>
             <tbody>
                 <tr *ngFor="let item of BodyArray;let sr=index">
                     <td>{{sr+1}}</td>
                    <td  *ngFor="let head of HeadArray">
                        {{item[head]}}
                        <!-- <div *ngIf="head.FieldName != ''">
                            {{item[head.FieldName]}}
                        </div>  -->
                        <!-- <div *ngIf="head.FieldName == ''" class="text-center">
                            <button class="btn btn-sm btn-primary" (click)="edit(item)">Edit</button>
                            <button class="btn btn-sm btn-primary" (click)="delete(item)" style="margin-left: 10px;">Delete</button>
                        </div>  -->
                    </td>
                 </tr> 
             </tbody>
         </table>
    </div>
</div>
