<div class="d-flex" id="wrapper">
  <!-- Sidebar -->
  <div class=" border-right bg-dark" id="sidebar-wrapper">
    <!-- Heading -->
    <div class="sidebar-heading ">
      <!-- <a class="navbar-brand" href="#"> <img
        width="160" height="160"
        alt="Demo Logo"
        src="assets/images/DemoLogo.png"
      /></a> -->
      <p class="navbar-brand text-white">Frame-Demo</p>
    </div>
    <div class="list-group list-group-flush">
      <a href="#" class="list-group-item list-group-item-action bg-dark text-white">Dashboard</a>
      <a href="#" class="list-group-item list-group-item-action bg-dark text-white">Shortcuts</a>
      <a href="#" class="list-group-item list-group-item-action bg-dark text-white">Overview</a>
      <a href="#" class="list-group-item list-group-item-action bg-dark text-white">Events</a>
      <a href="#" class="list-group-item list-group-item-action bg-dark text-white">Profile</a>
      <a href="#" class="list-group-item list-group-item-action bg-dark text-white">Status</a>
      <!-- sub menu -->
      <!-- <li class="nav-item"> -->
        <a class="nav-link collapsed text-white list-group-item list-group-item-action bg-dark" href="#" 
        data-toggle="collapse" aria-expanded="false" data-target="#submenu-2" aria-controls="submenu-2">
        <i class="bi bi-caret-right-fill"></i>  Offers</a>
        <div id="submenu-2" class="collapse" >
          <ul class="nav nav-small flex-column">

            <li class="nav-item bg-secondary">
              <a class="nav-link text-white" href="pages-app.html">Create</a>
            </li>

            <li class="nav-item bg-secondary">
              <a class="nav-link text-white" href="pages-utility.html">View</a>
            </li>

            <li class="nav-item bg-secondary">
              <a class="nav-link text-white" href="pages-layouts.html">Update</a>
            </li>

          </ul>
        </div>

      <!-- </li> -->
    </div>
  </div>
  <!-- /#sidebar-wrapper -->
  <!-- Page Content -->
  <div id="page-content-wrapper">
    <nav class="navbar navbar-expand-lg navbar-light bg-dark border-bottom">
      <button class="btn btn-primary" id="menu-toggle"><i class="fa fa-bars"></i></button>
      <!-- <button _ngcontent-tlw-c7="" class="btn btn-link btn-sm order-1 order-lg-0 " data-cy="topNavToggleSideNav" id="menu-toggle"></button> -->
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <form class="form-inline my-2 my-lg-0">
          <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
        <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
          <li class="nav-item active">
            <a class="nav-link text-white" href="#">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white" href="#">Link</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Dropdown
            </a>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">Something else here</a>
            </div>
              
          </li>
        </ul>
      </div>
    </nav>
    <div class="container-fluid">
      <!-- Main Element -->
      
      <app-offers></app-offers>
    </div>
  </div>
  <!-- /#page-content-wrapper -->
</div>
<!-- /#wrapper -->